body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main {
  padding-top: 45px;
}

.home {
  padding: 20px 0px;
  min-height: calc(100vh - 45px);
  display: flex;
  align-items: center;
}

.inner {
  text-align: center;
  padding-bottom: 50px;
}

.inner h1 {
  font-size: 90px;
  margin: 40px 0px;
}

.inner .col-md-4 {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
}

.inner p {
  margin: 20px 0px;
}

.action-group .btn {
  margin-top: 20px;
}

.action-group img {
  height: 90px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.action-group .media-left {
  padding-right: 20px;
}

.action-group .list-group-item {
  padding: 20px;
}
